
@{
    ViewBag.Title = "NotAuthenticatedUser";
}

<br /><br />
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You can not view this page due to the lack of autentication.</h2><br />
<h2 class="text-danger">Please log in so your identity is authenticated.</h2>


