@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->
<h3>Contact Us</h3><br />

<address>
    University Of Piraeus<br />
    
    <abbr title="Phone"></abbr>
    xxxxx xxxx xxx xxxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:markos9916@gmail.com">markos9916@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:markos9916@gmail.com">stavrosbakeas@gmail.com</a>
</address>