@{
    ViewBag.Title = "Home Page";
}



<br />

    <div class="jumbotron jumbotron-billboard">
        
            <div class="img"></div>
        <div class="panel">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                        <h1>BOOK PUBLICATIONS MANAGEMENT SYSTEM</h1>
                        <div class="container-fluid">
                            <p>
                                <h2> 
                                    <strong>Welcome to B.P.M.S</strong><br />
                                    This is the Books Publications Management System.<br />
                                    Within this system you can view  all the available data.In addition you have access to various admin functionalities as long as you are logged in.
                                </h2>
                            </p>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>




  
  